extends layout 

block content 
  h2 Category: #{title} 

  p Products:
  if categoryProducts.length 
    ul 
      each product in categoryProducts
        li
          a(href= product.url) #{product.name} 
  else 
    p This category has no products 
  
  hr 

  p 
    a(href= category.url + "/delete") Delete Category
  p 
    a(href= category.url + "/update") Update Category 