doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title= title
  body
    header 
      h1 Apparel Inventory Application
    aside 
      nav 
        ul 
          li
            a(href="/") Home 
          li
            a(href="/products") All Products 
          li
            a(href="/manufacturers") All Manufacturers
          li
            a(href="/categories") All Categories 
          li
            a(href="/sizes") All Sizes 
          hr 
          li 
            a(href="/product/create") Create Product
          li 
            a(href="/manufacturer/create") Create Manufacturer
          li 
            a(href="/category/create") Create Category
          li 
            a(href="/size/create") Create Size
    main 
      block content
    footer 
      p &copy; 2024 VMadhuranga 
    
    script(type="module", src="/javascripts/product-form.js") 
