extends layout 

block content 
  h2 Manufacturer: #{title} 
  p Description: #{manufacturer.description} 

  p Products:
  if manufacturerProducts.length 
    ul 
      each product in manufacturerProducts
        li
          a(href= product.url) #{product.name} 
  else 
    p This manufacturer has no products 

  hr

  p 
    a(href= manufacturer.url + "/delete") Delete Manufacturer 
  p 
    a(href= manufacturer.url + "/update") Update Manufacturer 