extends layout 

block content 
  h2 #{title}: #{product.name}
  p Do you really want to delete this product?

  form(method="post") 
    input#product-id(type="hidden", name="product-id", value= product._id) 
    button(type="submit") Delete