extends layout

block content
  h1= title
  
  ul 
    if products.length 
      each product in products
        li
          a(href= product.url) #{product.name}
    else 
      p There're no products