extends layout 

block content 
  h2 Size: #{title} 

  p 
    strong Products:
  if sizeProducts.length 
    ul 
      each product in sizeProducts 
        li 
          a(href= product.url) #{product.name} 
  else 
    p This size has no products 
  
  hr 

  p 
    a(href= size.url + "/delete") Delete Size 
  p 
    a(href= size.url + "/update") Update Size 